body { font-family: Arial; background: #0f172a; color: white; text-align:center }
.panel { margin:20px }
input, select, button {
  padding:10px; margin:5px; border-radius:6px; border:none;
}
button { background:#22c55e; font-weight:bold; cursor:pointer }

.leaflet-container {
  height: 100%;
  width: 100%;
}
.glow-line {
  filter: drop-shadow(0 0 6px #22c55e);
}
.routes {
  margin-top: 30px;
}
.route {
  background: #1e293b;
  padding: 15px;
  border-radius: 12px;
  margin: 10px auto;
  width: 80%;
  box-shadow: #0f172a 0px 8px 24px;
}
.route h3 {
  margin-top: 0;
}
.route p {
  margin: 5px 0;
}
.route .details {
  font-size: 0.9em;
  color: #94a3b8;
}
